// For example:
// $red: #EE5F5B;
// $purple: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;

// $red: #EE5F5B;
// $yellow: #FDB631;
// $orange: #FF5D3B;
// $green: #22EAAA;


// $gray: #222222;
// $light-gray: #F4F8F8;//#F4F4F4;
// $blue-gray: #222831;

// $pink: #DD105E;
// $indigo: #46466E;
// $purple-gray: #8787A3;
// $purple: #BDBDD7;


$dark-gray: #222222;
$gray: #454545;
$light-gray: #F4F8F8;//#F4F4F4;

$darker-blue-gray: #29323B;
$dark-blue-gray: #404E5C;
$gray-blue: #9197AE;
$blue: #2176FF;
$yellow: #E1CE7A;
$red: #FF3366;
$green: #A6FFCB;
