<%= render layout: 'form' do |f| %>
  <!-- Checkout & share -->
  <h4 class='card-sub-titles col-xs-12'><%= t('.checkout', default: 'Checkout') %></h4>
  <%= f.input :price, wrapper_html: {class: 'col-xs-12 col-sm-12'}, input_html: {} %>
<% end %>
