<%= render layout: 'form' do |f| %>
  <!-- Checkout & share -->
  <h4 class='card-sub-titles col-xs-12'><%= t('.checkout', default: 'Share your lead') %></h4>
  <%= f.input :price, collection: [['Free', 0], ['30 €', 30]] , as: :radio_buttons, wrapper_html: {class: 'col-xs-12 col-sm-12'}, input_html: {} %>
  <%#= p.input :price, collection: [['Free', 0], ['30 €', 30]] , as: :radio_buttons, wrapper_html: {class: 'col-xs-12'}, input_html: {} %>
  <%= f.input :share_to, as: :email, wrapper_html: {class: 'col-xs-12 col-sm-12'}, input_html: {} %>
<% end %>
