
<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
  <div class="card-wrapper">
   <!-- <h3 class='card-title text-center'><%#= t('.congrats_title', default: "Congrats your deal is under review!") %></h3> -->
    <div class="card-content no-title">
      <div class="card-block">
        <div class="text-center">
          <!-- <blockquote> -->
            <h2 class='card-sub-titles'><%= t('.thank_you',  default: "Thank you" )%></h2>
            <div class="gif-wrapper">
              <!-- 5wWf7GW1AzV6pF3MaVW -->
              <iframe src="//giphy.com/embed/YC6ZedMDgR1Fm" width="432" height="250" frameBorder="0" class="giphy-embed img-responsive centered" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/the-office-slow-clap-dwight-schrute-YC6ZedMDgR1Fm" class='text-center'></a></p>
            </div>
            <p class='md-sz'>
              <% if @lead.is_private %>
                <%= t('.private_message', default: "Your lead has been published!") %>
              <% else %>
              <%= t('.public_message', default: "Your lead has been published!") %>
              <% end %>
            </p>
          <!-- </blockquote> -->
        </div>

      </div>
    </div>
  </div>
</div>
