<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <div class="card-wrapper">
    <!-- <h3 class='card-title text-center'><%#= t('.congrats_title', default: "Partagez. Recevez") %></h3> -->
    <div class="card-content text-center no-title">
      <div class="inside-card">
        <div class="contact-card col-xs-12 text-center">
          <div class="col-xs-12">
            <%= image_tag 'logo_beta.svg', class: 'img-responsive', alt: 'logo get a lead', id: 'logo' %>
          </div>
          <div class="col-xs-12 text-center">
            <%= t('.content_html') %>
          </div>
          <div class="col-xs-12 user-funnel-cta" style='margin: 4rem 0px;'>
            <div class="text-center">
              <%= link_to t('.create_lead'), new_lead_path, class: 'btn btn-success btn-round', id: 'home-sell-lead' %>
            </div>
            <div class="text-center">
              <%= link_to t('.buy_lead'), "#", class: 'btn btn-success btn-round', data: buyer_sweet_data, id: 'home-buy-lead' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

