/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $brand-success;
  background-color: $lighter-gray;
  border-color: $brand-success;

  .close:hover, .close:focus {
    color: $brand-success;
    opacity: 1;
  }
}

.alert-info {
  border: none;
}
