.btn-linkedin {
  background-image: image-url("linkedin_connect_default.png");
  transition: 0.2s ease;
  background-position: center;
  background-size: cover;
  width: 160px;
  height: 33px;
  &:active {
    background-image: image-url("linkedin_connect_active.png");
  }
  &:hover {
    background-image: image-url("linkedin_connect_hover.png");
  }
}
