.btn-primary, .btn-succes, .btn-danger {
  color: white;
}

.btn-linkedin {
  background-image: image-url("linkedin_connect_default.png");
  transition: 0.2s ease;
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 49px;

  &:active {
    background-image: image-url("linkedin_connect_active.png");
  }
  &:hover {
    background-image: image-url("linkedin_connect_hover.png");
  }
}

.omniauth-btn-container {

}
