.card-title  {
  margin: 0;
  background: $darker-blue-gray;
  color: $lighter-gray;
  border-radius: 8px 8px 0 0;
  padding: 10px;
  border: 1px solid $darker-blue-gray;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
}

.card-sub-titles {
  color: $brand-primary;
  margin: 25px 0px 10px 0px
}

.card-sub-titles.red-text {
  color: $brand-success;
}

.card-wrapper {
  margin-bottom: 1rem;

  .card-content {
    background: white;
    position: relative;
    overflow: overlay;
    padding: 2rem;
    border: 1px solid $lighter-gray;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
    border-radius: 0 0 8px 8px;

    &.no-title {
      border-radius: 8px;
    }
    .inside-card {
      position: initial !important;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 10px 0px 5px 0px;
    }

    .contact-card {
      margin-bottom: 20px;
    }

    #logo {
      margin: 2rem auto 4rem auto;
    }

    .flex-title {
      display: flex;
      align-content: center;
      align-items: baseline;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }

    .giphy-embed {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
}

.inside-card {
  .card-sub-titles:first-child {
    margin-top: 0;
  }
}

.lead-card {
  .card-block {
    padding: 2rem 2rem 0 2rem;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    background: $lighter-gray;
    border: 1px solid $light-gray;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
    #description {
      p {
        color: $darker-blue-gray;
        word-break: break-word;
        line-height: 1.8;
      }
    }

    #price {
      width: 6rem;
      height: 6rem;
      background: #E1CE7A;
      border-radius: 50%;
      position: absolute;
      top: -2vh;
      right: -2vh;
      color: white;
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 1px solid;
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.21);
    }
  }

  .card-footer {
    background: $darker-blue-gray;
    color: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0 0 8px 8px;
    padding: 10px 1rem;
    ul {
      margin: 0 1rem;
    }
    .blurred {
      filter: blur(3px)
    }
  }

  .attr-val {
    margin-bottom: 2px;
    i.fa {
      margin-right: 4px;
    }
  }
  .attr-value-item {
    display: flex;
    justify-content: space-between;
  }

  .tags {
    background: $gray-blue;
    color: white;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 1.2rem;
    margin: 0 2px;
  }
  #tags {
    margin-top: 20px;
  }

  #creds {
    float: right;
    font-size: 1.1rem;
    color: $light-gray;
  }

}

