.card-wrapper {
  .card-content {
    .form-control {
      transition: all 0.5s ease-out;
      border: none;
      border-bottom: 1px solid $light-gray;
      box-shadow: none;
      padding: 0 6px;
      border-radius: 0px;
      background-color: #F9F9F9;
    }

    textarea {
      resize: none;
    }

    .form-control:focus, .select2.select2-container.select2-container--bootstrap .selection:focus {
      border: none;
      border-bottom: 1px solid $brand-primary;
      outline: none;
      border-radius: 0px;
    }

    .control-label, .help-block {
      @extend .xs-sz;
    }

    .help-block {
      font-style: italic;
      color: darken($yellow, 20%);
    }

    .help-block.has-error {
      color: $state-danger-text;
    }
  }

  .form-actions {
    input[type="submit"].btn {
      float:right;
    }
  }
}
