.card-wrapper {
  .card-content {
    .form-control {
      transition: all 0.5s ease-out;
      border: none;
      border-bottom: 1px solid $light-gray;
      box-shadow: none;
      padding: 0 6px;
      border-radius: 0px;
      background-color: #F9F9F9;
    }

    textarea {
      resize: none;
    }

    .form-control:focus, .select2.select2-container.select2-container--bootstrap .selection:focus {
      border: none;
      border-bottom: 1px solid $brand-primary;
      // border-color: lighten($red, 20%);
      outline: none;
      border-radius: 0px;
      // box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0), 2px 1px 2px 0px #FF5D3B;
    }

    .control-label, .help-block {
      @extend .xs-sz;
    }

    .help-block {
      font-style: italic;
      color: darken($yellow, 20%);
    }

    .help-block.has-error {
      color: $state-danger-text;
    }
  }

  .form-actions {
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
    // width: 100%;

    // * {
    //   margin: 0 2px;
    // }
    input[type="submit"].btn {
      float:right;
    }
  }
}

// #new_user {
//   padding: 2rem 4rem;
// }
