.line-breaker {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray;

  .left-line {
    border-bottom: 1px solid $gray;;
    margin-right: 10px;
    min-width: 10px;
    flex: 1;
  }

  .right-line {
    border-bottom: 1px solid $gray;;
    margin-left: 10px;
    min-width: 10px;
    flex: 1;
  }
}
