.select2.select2-container{
  width: 100% !important;
  .selection {
    @extend .form-control;
  }
}

.select2-selection__rendered {
  padding-left: 0 !important;
  margin-bottom: 2px;
  color: $gray;
  .select2-selection__choice {

    .select2-selection__choice__remove {
      margin-right: 2px;
    }
  }
  .select2-search.select2-search--inline {
    padding: 2px 4px;
    font-size: 1.2rem;
    margin: 0 2px;

    input {
      outline: none;
    }
  }

}

.select2-container {
  .select2-selection--multiple, .select2-selection--single {
    outline: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    min-height: 100%;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $gray;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
  border-bottom: 1px solid $brand-primary;
}


.select2-container--default .select2-selection--multiple .select2-selection__choice {
  display: inline-block;
  background: $gray-blue;
  color: white;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 1.2rem;
  margin: 2px;

  .select2-selection__choice__remove {
    color: white;
    margin-right: 2px;
  }
}


.form-control, .select2.select2-container .selection {
  // height: 100%;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  height: 100%;
  min-height: 23px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  position: absolute;
  top: 0;
  right: 0;
}


