
.xs-sz {
  font-size: 1.2rem
}

.sm-sz {
  font-size: 1.5rem
}

.md-sz {
  font-size: 2rem
}

.lg-sz {
  font-size: 3rem
}

.light {
  font-weight: 100;
}

abbr[title], abbr[data-original-title] {
  border-bottom: none;
  float: right;
  margin-left: 3px;
}


label {
  margin-bottom: 4px;
}
